.profile-container {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    gap: 40px;
}

.profile-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border: 5px solid gainsboro;
    border-radius: 50%;

}

.profile-right {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.profile-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.profile-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile-item span {
    font-size: 18px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}