.btn{
    background-color: #5D43CB;
    color: white;
    padding: 12px;
    border-radius: 50px;
    font-size: 30px;
    border:0;
    outline: 0;
    cursor: pointer;
    width: 200px;
    font-weight: 500;
    transition: 0.1s ease;
}
.btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}